body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(231, 231, 231);
}

.segundo-titulo-secundario{
    color: rgb(46, 25, 5);
    font-style: italic;
    font-size: 30px;
}

.titulo-secundario{
    color: rgb(0, 255, 34);
}

.primeiro-titulo-secundario {
    color: rgb(114, 0, 221);
    font-style: italic;
    font-weight: 300;
}

.font-titulos {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.titulo-principal {
    color: #e40000;
    font-style: italic;
    font-size: 40px;    
}