body {
  font-family: "Boldonse", system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #e3f0f0;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



input, select, textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 15px;

}

textarea {
  height: 80px;
  resize: none;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

input[type="submit"] {
  background-color: #35009e;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 15px;
}

input[type="submit"]:hover{
  background-color: #8156d6;
}

input[type="reset"] {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 4px;
  margin-right: 10px;
}

input[type="reset"]:hover{
  background-color: #837f7f;
}

.footer-contact {
  margin-top: 20px;
  text-align: center;
  color: #333;
  font-size: 15px;  
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  width: 25;
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: rgb(27, 27, 27);
  font-size: 15px;
  font-weight: bold;
  border: none;
}

input::placeholder, textarea::placeholder{
  color:rgb(0, 0, 0);
}